{{#partial "content"}}
<div class="well" style="text-align:center">
    <h1>{{user.userName}}</h1>
    <ul>

            <li>position:{{user.position}}</li>
             <li>role:{{user.role}}</li>

    </ul>

    </div>
{{/partial}}

{{> layout.hbs}}